body {
    background-color: #2a2929;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
  }
  
  .container {
    max-width: 750px;
    margin: 0 auto;
    padding: 20px;
  }
  
  h1 {
    text-align: center;
    margin-bottom: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  .form {
    display: flex;
    margin-bottom: 20px;
  }
  
  .form input {
    flex: 1;
    padding: 10px;
    font-size: 20px;
    border-radius: 5px 5px 5px 5px;
    border: none;
  }
  
  .form button {
    padding: 10px;
    margin-left: 3px;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px 5px 5px 5px;
    border: none;
    background-color: rgb(47, 125, 176);
    color: #fff;
    cursor: pointer;
    
  }

  :hover.form button{
    background-color: #9a9595;
  }

  .task {
    background-color: #444;
    padding: 20px;
    border-radius: 5px;
  }
  
  .task-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    padding: 5px;
    background-color: #fff;
    border-radius: 5px;
  }
  
  .task-item.completed {
    background-color: #ccc;
  }
  
  .task-item .task-name {
    flex: 1;
    margin-left: 10px;
    color: #000;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }

  .task-item .edit-button {
    margin-right: 10px;
    padding: 1%;
    background-color: #3d9d55;
    font-size: 20px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    border-radius: 5px;
    border-color: #fff;
    color: #fff;
    
  }
  
  .task-item .delete-button {
    background-color: #dc3545;
    padding: 1%;
    color: #fff;
    border-color: #fff;
    font-size: 20px;
    border-radius: 5px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  }
  
  #all {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  #all p {
    margin: 0;
    font-size: 20px;
  }
  
  #all span {
    font-weight: bold;
    font-size: 20px;
  }
  